<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovesher.blog.resposity.mapper.ArticleEffectMapper">

	<!-- 结果映射 resultMap-->
	<resultMap id="BaseResultMap" type="com.lovesher.blog.resposity.bean.ArticleEffect">
		 <result column="id" property="id"/>
		 <result column="article_id" property="articleId"/>
		 <result column="click_num" property="clickNum"/>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		`id`,`article_id`,`click_num`
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultMap="BaseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_article_effect
		 WHERE `id` = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById">
		 DELETE FROM t_article_effect
		 WHERE `id` = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.lovesher.blog.resposity.bean.ArticleEffect">
		 INSERT INTO t_article_effect
 		(`article_id`,`click_num`) 
		 VALUES 
 		(#{articleId},#{clickNum}) 
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.lovesher.blog.resposity.bean.ArticleEffect">
		 UPDATE t_article_effect
		 SET 
			 <if test="articleId !=null"> `article_id` = #{articleId},</if>
			 <if test="clickNum !=null"> `click_num` = #{clickNum},</if>
		 `id` = `id`		 WHERE `id` = #{id}
	</update>

</mapper>