<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovesher.blog.resposity.mapper.AssortMapper">

	<!-- 结果映射 resultMap-->
	<resultMap id="BaseResultMap" type="com.lovesher.blog.resposity.bean.Assort">
		 <result column="id" property="id"/>
		 <result column="assort_name" property="assortName"/>
		 <result column="sort_grade" property="sortGrade"/>
		 <result column="url_link" property="urlLink"/>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		`id`,`assort_name`,`sort_grade`,`url_link`
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultMap="BaseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_assort
		 WHERE `id` = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById">
		 DELETE FROM t_assort
		 WHERE `id` = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.lovesher.blog.resposity.bean.Assort">
		 INSERT INTO t_assort
 		(`assort_name`,`sort_grade`,`url_link`) 
		 VALUES 
 		(#{assortName},#{sortGrade},#{urlLink}) 
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.lovesher.blog.resposity.bean.Assort">
		 UPDATE t_assort
		 SET 
			 <if test="assortName !=null"> `assort_name` = #{assortName},</if>
			 <if test="sortGrade !=null"> `sort_grade` = #{sortGrade},</if>
			 <if test="urlLink !=null"> `url_link` = #{urlLink},</if>
		 `id` = `id`		 WHERE `id` = #{id}
	</update>

</mapper>