<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>实时聊天</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link th:href="@{css/global.css}" rel="stylesheet"/>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <script th:src="@{js/chat.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
             var username = [[${#httpServletRequest.remoteUser}]];
             if(!username){
                window.location.href="login";
             }
            init(username);
        });

    </script>
</head>
<body class="chat-bg">
<header class="header-title">实时聊天
    <!--<form th:action="@{/logout}" method="post">
        <input type="submit" value="退出"/>
    </form>-->
</header>
<section class="chat-box">
    <span class="chat-trip">此刻对方忙碌，请留言</span>
    <div class="bubbleDiv"></div>
</section>
<footer class="chat-edit clearfix">
    <p class="chat-info" placeholder="说点什么内容..." contenteditable="true"></p>
    <span class="uploadImg fl">
        <input type="file" name="uploadfile"  id="uploadfile" accept="image/gif,image/png,image/jpeg,image/jpg,image/bmp" class="uploadfile"/>
    </span>
    <button class="send-btn fr" onclick="sendMsg()">发送</button>
</footer>
<input type="hidden" id="url" th:value="${#httpServletRequest.getAttribute('netPath')}"/>
</body>
</html>