<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello WebSocket</title>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        var url = null;
        var stompClient = null;
        $(document).ready(function () {
            //connect();
            //checkoutUserlist();
            url = document.getElementById('url').value;
        });
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('username').style.visibility = connected ? 'hidden' : 'visible';
            document.getElementById('response').innerHTML = '';
        }

        //this line.
        function connect() {
            var userid = document.getElementById('name').value;
            var socket = new SockJS(url + "webSocket");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings', function (greeting) {
                    console.log(greeting);
                    showGreeting(greeting.body);
                });

                stompClient.subscribe('/user/' + userid + '/message', function (greeting) {
                    showGreeting(greeting.body);
                });
            });
        }

        function sendMsg() {
            var msg = document.getElementById('msg').value;
            if(msg){
                stompClient.send("/app/webSocket", {atytopic: "/topic/greetings"}, JSON.stringify({'msg': msg}));
            }
        }

        function connectAny() {
            var socket = new SockJS(url + "webSocket");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                stompClient.subscribe('/topic/greetings', function (greeting) {
                    showGreeting(greeting.body);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
        }


        function showGreeting(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            response.appendChild(p);
        }
    </script>
</head>
<body>
<input type="hidden" id="url" th:value="${#httpServletRequest.getAttribute('netPath')}"/>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="connectAny" onclick="connectAny();">ConnectAny</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <div id="username">
            <label>请输入您的名字:</label>
            <input type="text" id="name"/>
        </div>
        <div id="message">
            <label>请输入聊天内容:</label>
            <textarea th:width="300px" type="text" id="msg"/>
            <button id="sendMsg" onclick="sendMsg();">发送</button>
        </div>
        <p id="response"></p>
    </div>
</div>
</body>
</html>